main {
	padding: 60px;
	font-size: 0;
}

.boxA {
	width: 800px;
	height: 500px;
	border: 1px black solid;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.box-one {
	width: 50%;
	height: 200px;
	background-color: green;
}

.box-two {
	width: 50%;
	height: 200px;
	background-color: blue;
}

.boxB {
	width: 800px;
	height: 500px;
	display: inline-block;
}

.box-three {
	width: 33.33%;
	height: 300px;
	background-color: grey;
}

.box-four {
	width: 33.33%;
	height: 300px;
	background-color: black;
}

.box-five {
	width: 33.33%;
	height: 300px;
	background-color: tan;
}